extend layout.pug

block content
    .page-header
        h1 Proxmox Connector
    nav.navbar.navbar-default
        .container-fluid
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href='/dashboard') Dashboard
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='/logout') Log Out
            // /.navbar-collapse
        // /.container-fluid
    .container
        table.table.table-bordered
            thead
                tr
                    th(scope="col") VMID
                    th(scope="col") Virtual machine name
            - var i = 0;
            tbody
                each vm, i in vmlist 
                    tr.table-success 
                        th(scope="row")
                            span #{vm.vmid}
                        td
                            a(href='/rdp/' + vm.vmid) #{vm.name}