extend layout.pug

block content
    .page-header
        h1 Proxmox Connector Dashboard
    nav.navbar.navbar-default
        .container-fluid
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href='/config') Config
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='/logout') Log Out
            // /.navbar-collapse
        // /.container-fluid
    .container
        table.table.table-bordered
            thead
                tr
                    th(style="width: 10%" scope="col") VMID
                    th(style="width: 5%" scope="col") Status
                    th(scope="col") Virtual machine name
            - var i = 0;
            tbody
                each vm in vmlist 
                    tr.table-success 
                        td(scope="row")
                            span #{vm.vmid}
                        td
                            span.fa-stack
                                if vm.running
                                    i.fa.fa-square.fa-stack-2x(style="color:#20ff20")
                                i.fa.fa-desktop.fa-stack-1x
                        td
                            a(href='/rdp/' + vm.vmid) #{vm.name}